.activity1-page {
  padding: 100px;
  p {
    font-size: 24pt;
  }
  em {
    font-style: normal;
    color: #36c;
  }
}

.activity1a-page {
  padding: 50px;
  height: 650px;

  em, u {
    font-style: normal;
    color: #6c3;
  }
}

.activity1b-page {
  padding: 50px;

  p {
    font-size: 20px;
  }

  u {
    color: #800;
  }
}

.activity1c-page {
  em {
    font-style: normal;
    color: #800;
    text-decoration: underline;
  }

  li {
    height: 37px;
    margin-top: 6px;
    margin-bottom: 16px;
    position: relative;
    left: 20px;
  }
}

.activity1d-page {
  padding-top: 50px;
  div.box {
    font-size: 24pt;
    border: 1px solid #333;
    padding: 20px;
  }
}