.activity1-page {
  padding: 100px;
  p {
    font-size: 30pt;
    font-weight: bold;
  }
  em {
    font-style: normal;
    color: #36c;
  }
}

.activity1a-page {
  padding: 0 50px 0 50px;
  height: 650px;

  em, u {
    font-style: normal;
    color: #6c3;
  }

  p {
    font-size: 13.5pt;
    font-weight: bold;
  }
}

.activity1b-page {
  padding: 0 50px 0 50px;

  p {
    font-size: 20px;
    font-weight: bold;
  }

  u {
    color: #f00;
  }
}

.activity1c-page {
  em {
    font-style: normal;
    color: #f00;
    text-decoration: underline;
  }

  li {
    height: 37px;
    margin-top: 6px;
    margin-bottom: 16px;
    position: relative;
    left: 20px;
  }
}

.activity1d-page {
  padding-top: 50px;
  div.box {
    font-weight: bold;
    font-size: 32pt;
    border: 1px solid #333;
    padding: 20px;
  }
}