<template name="activity1">
  <div class="row activity1-page text-center">
    <p>본 검사는 <em>총 25분 정도</em>가 소요될 예정입니다.</p>
    <p>자 이제부터 검사를 시작해볼까요?</p>
  </div>
</template>

<template name="activity1a">
  <div class="activity1a-page text-center">
    <p>
      <iframe width="560" height="315" src="//www.youtube.com/embed/nXqucfxA5JQ?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </p>
    <p>
      <span class="appear">변기라는 익숙한 사물을 전시회라는 낯선 공간에 놓음으로써</span><br>
      <span class="appear">기존에 없던 새로움을 창조한 현대미술의 아버지 “<em>마르셀 뒤샹</em>”</span>
    </p>
    <p>
      <span class="appear">일상의 친숙한 사물들을 원래 있던 환경에서 떼어내 엉뚱한 곳에 배치하고</span><br>
      <span class="appear">전혀 다른 소재를 조합해 시각적인 충격을 극대화 한 벨기에의 초현실주의 화가 "<em>르네 마그네트</em>"</span>
    </p>
    <p>
      <span class="appear">마우스 + GUI (그래픽 유저 인터페이스) = 맥킨토시</span><br>
      <span class="appear">MP3 플레이어 + 아이튠즈 + 음악 컨텐츠 = 아이팟</span><br>
      <span class="appear">기존의 기술을 남다른 방식으로 조합해 익숙하지만 낯선 새로움을 재창조한</span><br>
      <span class="appear">혁신의 대명사 애플의 “<em>스티븐 잡스</em>”</span>
    </p>
  </div>
</template>

<template name="activity1b">
  <div class="activity1b-page">
    {{ > timer }}
    <p></p>
    <p>
      ■ 동영상의 사례들처럼 획기적인 사고의 발상이 필요하다고 생각되는 분야를 생각해보고, <u>새롭고 혁신적인</u> 아이디어를 최대한 <u>많이</u> 제시하십시오.
    </p>
    <p>
      ■ 이 때 어떠한 점에서 자신의 아이디어가 혁신적이라고 생각하는지 그 <u>이유</u>도 함께 제시해야 합니다.
    </p>
    <p>
      ■ 반드시 <u>실천가능한</u> 방법이어야 하며 그 외에도 <u>가치, 공익성, 경제성(비용과 시간)</u> 등을 함께 고려하십시오.
    </p>
    <p>
      ■ 사전조사 결과, 일반적인 대학생이라면 평균 10개의 아이디어를 제시하였습니다. 본 검사는 <u>아이디어 개수가 많을수록 더 좋은 결과</u>를 받을 수 있기 때문에 제한시간 내에 보다 다양하고 창의적인 아이디어를 떠올려 주시기 바랍니다.
    </p>
    <p>
      ■ 제한시간은 <u>15분</u> 입니다.
    </p>
  </div>
</template>

<template name="activity1c">
  {{ > timer }}
  <div class="row activity1c-page">
    <p></p>
    <p style="font-size: 16pt; font-weight: bold;">
      ■ <em>새롭고 혁신적인</em> 아이디어와 그 이유를 최대한 <em>많이</em> 제시하십시오.
    </p>
    <p style="color: #666;">
      ※ 엔터(Enter) 키를 누르면 입력할 수 있는 칸이 자동 생성됩니다.
    </p>
    <div class="row">
      <div class="small-1 large-1 columns text-right">
        <ol>
          {{#each answers}}
            <li></li>
          {{/each}}
        </ol>
      </div>
      <div class="small-11 larget-11 columns">
        {{#each answers}}
          <input type="text" value="{{this}}">
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="activity1d">
  <div class="row activity1d-page">
    <div class="small-1 large-1 columns">&nbsp;</div>
    <div class="small-10 large-10 columns text-center box">
      시간이 종료되었습니다.<br><br>
      다음 페이지로 넘어가십시오.
    </div>
    <div class="small-1 large-1 columns">&nbsp;</div>
  </div>
</template>