<template name="intro">
  <div class="row" id="intro-page">
    <div class="large-12 columns">
      <h3>창의성 검사에 참여해 주셔서 감사합니다</h3>
      <p>
        <span class="appear">창의적 문제해결력은</span><br>
        <span class="appear">학업 뿐 아니라 사회적 성공에서 매우 강조되는 중요한 능력입니다.</span><br>
        <span class="appear">미래 한국인의 10대 핵심역량 중 가장 우선시 되는 역량이며,</span><br>
        <span class="appear">많은 기업들이 창의적 인재를 선발하는 데</span><br>
        <span class="appear">많은 노력과 비용을 투자하고 있습니다.</span><br>
        <span class="appear">이러한 창의적 문제해결력은 충분히 계발 가능한 능력이므로</span><br>
        <span class="appear">본 검사를 통해 자신의 현재 수준을 정확히 파악하고</span><br>
        <span class="appear">이를 향상시킬 수 있는 기회를 갖기 바랍니다.</span>
      </p>
    </div>
  </div>
</template>
