<template name="survey2a">
  <div class="row survey2a-page">
    <div class="instruction">
      다음은 검사가 진행되는 동안 여러분이 느낀 감정과 생각을 알아보기 위한 것이니,
      자신이 느낀 그대로 <em>1(전혀 아니다)에서부터 5(매우 그렇다)까지</em> 솔직하게 응답해주시기 바랍니다.
    </div>
    <div style="width: 80%; margin: auto;">
      <div class="row question">
        <div class="small-8 large-9 columns vcenter">
          나는 이전에 비슷한 유형의 창의성 검사(TTCT 등)를 해본 적이 있다.
        </div>
        <div class="small-4 large-3 columns vcenter">
          <input type="radio" name="survey2-0" value="yes" id="survey2-0-yes"><label for="survey2-0-yes">있다</label>
          <input type="radio" name="survey2-0" value="no" id="survey2-0-no"><label for="survey2-0-no">없다</label>
        </div>
      </div>
      {{> options2}}
    </div>
  </div>
</template>

<template name="survey2b">
  <div class="row survey2b-page">
    <div style="width: 80%; margin: auto;">
      <div class="row">
        <div class="small-12 large-12 columns">
          <em>혁신적인 아이디어 생성 과제는...</em>
        </div>
      </div>
      {{> options2}}
    </div>
  </div>
</template>

<template name="survey2c">
  <div class="row survey2c-page">
    <div style="width: 80%; margin: auto;">
      {{> options2}}
    </div>
  </div>
</template>

<template name="survey2d">
  <div class="row survey2d-page">
    <div class="instruction">
      다음은 과제를 마치고 난 후 여러분의 감정을 묻는 질문입니다. 자신이 느낀 그대로 <em>1(전혀 아니다)에서부터 5(매우 그렇다)까지</em> 솔직하게 응답해주시기 바랍니다.
    </div>
    <div style="width: 80%; margin: auto;">
      {{> options2}}
    </div>
  </div>
</template>
