<template name="survey1">
  <div class="survey1-page">
    <div class="row">
      <div class="large-12 columns instruction">
        검사를 실시하기에 앞서 다음과 같은 정보를 입력해주십시오.
      </div>
    </div>
    <form class="survey-form">
      <div class="row">
        <div class="small-3 large-2 columns vcenter">
          1. 이름
        </div>
        <div class="small-9 large-2 columns">
          <input type="text" name="name" placeholder="이름" required>
        </div>
        <div class="large-8 columns"></div>
      </div>
      <div class="row">
        <div class="small-3 large-2 columns vcenter">
          2. 성별
        </div>
        <div class="small-9 large-10 columns vcenter">
          <input type="radio" name="gender" value="male" id="gender-male" required><label for="gender-male">남</label>
          <input type="radio" name="gender" value="female" id="gender-female" required><label for="gender-female">여</label>
        </div>
      </div>
      <div class="row">
        <div class="small-3 large-2 columns vcenter">
          3. 출생년도
        </div>
        <div class="small-9 large-2 columns">
          <input type="number" name="birthyear" placeholder="출생년도">
        </div>
        <div class="large-8 columns"></div>
      </div>
      <div class="row">
        <div class="small-12 large-2 column vcenter">
          4. 전공
        </div>
        <div class="small-8 large-2 column">
          <input type="text" name="college" placeholder="대학">
        </div>
        <div class="small-4 large-2 columns vcenter">
          대학교
        </div>
        <div class="small-8 large-2 columns">
          <input type="text" name="major" placeholder="전공">
        </div>
        <div class="small-4 large-2 columns vcenter">
          학과(전공)
        </div>
        <div class="large-2 columns"></div>
      </div>
      <div class="row">
        <div class="small-12 large-2 columns vcenter">
          5. 학년
        </div>
        <div class="small-8 large-6 columns vcenter">
          <input type="radio" name="year" value="1" id="year-1"><label for="year-1">1학년</label>
          <input type="radio" name="year" value="2" id="year-2"><label for="year-2">2학년</label>
          <input type="radio" name="year" value="3" id="year-3"><label for="year-3">3학년</label>
          <input type="radio" name="year" value="4" id="year-4"><label for="year-4">4학년</label>
          <input type="radio" name="year" value="custom" id="year-5"><label for="year-5">기타:</label>
        </div>
        <div class="small-4 large-4 columns vcenter">
          <input type="text" name="yearCustom" placeholder="직접 입력">
        </div>
      </div>
    </form>
  </div>
</template>

<template name="survey1a">
  <div class="row survey1-page">
    <div style="width: 80%; margin: auto;">
      <div class="instruction">
        주의 깊게 읽고 <u>자신의 모습을 가장 잘 표현하는 곳</u>에 <em>1(전혀 아니다)에서부터 5(매우 그렇다)</em>까지 솔직하게 반응해주시기 바랍니다.
      </div>
      {{> options}}
    </div>
  </div>
</template>

<template name="survey1b">
  <div class="row survey1-page">
    <div style="width: 80%; margin: auto;">
      {{> options}}
    </div>
  </div>
</template>

<template name="survey1c">
  <div class="row survey1-page">
    <div style="width: 80%; margin: auto;">
      {{> options}}
    </div>
  </div>
</template>
