.survey2a-page {
  .instruction {
    padding: 0 40px 40px 40px;
    font-size: 16pt;

    em {
      font-style: normal;
      color: #3c3;
    }
  }

  .question {
    font-size: 14pt;
  }
}

.survey2b-page {
  font-size: 16pt;
  em {
    font-style: normal;
    color: #3c3;
  }
}

.survey2d-page td:first-child {
  visibility: hidden;
}