.survey2a-page {
  .instruction {
    padding: 0 40px 40px 40px;
    font-size: 16pt;

    em {
      font-style: normal;
      color: #3c3;
    }
  }

  .question {
    font-size: 14pt;
    padding-top: 12px;
    margin-bottom: 10px;
    border: 1px solid #333;
  }
}

.survey2b-page {
  font-size: 16pt;
  em {
    font-style: normal;
    color: #3c3;
  }
}

.survey2d-page {
  .instruction {
    padding: 0 120px 40px 120px;
    font-size: 16pt;
    font-weight: bold;
  }

  em {
    font-style: normal;
    color: #3c3;
  }

  td:first-child {
    visibility: hidden;
  }
}
