<template name="prevideo">
  <div class="row prevideo-page">
    <p>
      새롭고 독창적인 아이디어를<br>
      계속 생각해내는 것은 쉬운 일이 아닙니다.<br>
      생각이 막혔을 때 <u>하던 일을 멈추고 다른 활동을 하는 것</u>은<br>
      여러분의 사고를 확산시키는데 도움이 될 것입니다.<br>
      그럼 잠시 <i>재미있는 동영상</i>을 보도록 할까요?<br>
      <em>지금까지 작성한 내용들은 모두 저장되어 있으니<br>
        걱정하지 마세요!</em><br>
      <img src="/images/next.jpeg" width="30">을 눌러 다음 페이지로 넘어가십시오.
    </p>
  </div>
</template>

<template name="postvideo">
  <div class="row postvideo-page">
    <p>
      5분이 모두 지났습니다.<br>
      이제 &lt;혁신적인 아이디어 생각해내기&gt; 활동으로 되돌아갑니다.<br>
      앞서 작성했던 내용은 모두 저장되어 있으며,<br>
      이를 보완하거나 새로운 아이디어를 더 작성하시면 됩니다.<br>
      <img src="/images/next.jpeg" width="30">을 눌러 시작하십시오.<br>
    </p>
  </div>
</template>


<template name="video">
  {{ > timer }}
  <div class="row video-page text-center">
    <p>
      지금부터 <em>5분</em> 동안 재미있는 동영상을 보겠습니다.
    </p>
    <iframe width="640" height="480" src="//www.youtube.com/embed/kNPkhIiHIxQ?autoplay=1" frameborder="0" allowfullscreen></iframe>
  </div>
</template>
